{% extends "layout.html" %}
{% block body %}
	<div class="page-header">
		<h1>About Me</h1>
	</div>
	
	<div>
		<img src="{{ url_for('static', filename='images/chris.png')}}", title="Working on Olin's baja car"/>
		<p>I am a mechanical engineering student (Class of 2015) at Franklin W. Olin College of Engineering in Needham, Massachusetts.  My engineering interests lie in aerospace, vehicle design, and climbing equipment design.  My non-engineering interests include mountaineering, backpacking, cooking, and sports.</p>
	<div>
{% endblock %}